@import url(general.css);

:root {
    --tipografía: roboto;

    --size-titulares: 24px;
    --size-precio: 18px;
    --size-desc: 16px;

    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
}

main form {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

main input {
    width: 100%;
    padding: 10px 5px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0);
    margin: 5px 0;
}

main .formularios-especiales {
    margin-top: 15px;
}

main label {
    display: block;
}

#perfil-del-usuario label {
    display: inline;
}

main label input {
    width: 20px;
}

main .buttons {
    display: flex;
}

main button {
    padding: 10px;
    border-radius: 5px;
    border: solid 1px rgb(79, 79, 79);
    width: 49%;
}

main .registrarse {
    width: 49%;
    margin: auto;
}

main .registrarse button {
    width: 100%;
    background-color: var(--celeste);
    color: white;
}

/* ----------------------------------Tablets---------------------------------- */
@media (min-width: 500px) {
    main .flex {
        display: flex;
        justify-content: space-between;
    }

    main input {
        width: 49.5%;
    }

    main .domicilio {
        width: 100%;
    }

    main label {
        display: inline-block;
    }

    main .nacimiento label {
        display: block;
    }
}

/* ----------------------------------Desktop---------------------------------- */
@media (min-width: 700px) {}